/* Pagination Styles */

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: inherit;
}

.pagination .page-numbers {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
    background-color: #333333;
    color: #fff;
}

.pagination .prev,
.pagination .next {
    font-weight: bold;
}